
/* @page {

    margin: 0;
} */
@page {
    size: A4;
    margin: 27mm 16mm 27mm 16mm;
}


@media print {
     @page :footer {
        display: none
    }

    @page :header {
        display: none
    }
    html,
    body {
        width: 210mm;
        height: 297mm;

    }
     .no-print {
         visibility: hidden;
     }


}
body {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
}

img.img-background{
    position: fixed;
    /* top: 30%; */
    margin-top: 45%;
    left: 37.5%;
     /* background-position: center center; */
    opacity: 0.3;
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

div.chapter, div.appendix {
    page-break-after: always;
}

/* div.titlepage {
    page: blank;
} */

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 0px; */
    text-align: justify;
    /* position: absolute; */
    width: 175px;
    height: 250px;
}

/* foto rapor */
img {
      display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
    text-align: justify;
    /* position: absolute; */
    /* width: 175px; */
    /* height: auto; */
    height: 151.18110236px;
    width:113.38582677px;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px !important;

}
div.title{
    line-height: 85% !important;
    text-transform: uppercase;
}
.title-siswa {
    margin-top: 100px !important;


}

.name-siswa {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-top: 1px;
    width: 300px;
    font-style: italic;
    /* background-color: red; */
}

.nis-siswa {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 1px;
    width: 300px;


}
.nis-siswa.siswa,
.name-siswa.siswa{
     line-height: 75% !important;
}
.siswa {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container,
.nis-siswa {
    margin-bottom: 80px !important;
}

.footer {
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    /* background-color: red; */
    color: black;
    font-size: 16pt;
    font-weight: 700;
    text-align: center;
    margin-top: 250px !important;
    line-height: 10% !important;
}


/* halaman ke 2 */

.title-petunjuk{
   text-align: center;

}
.title-petunjuk,h5{
     font-size: 16px;
     font-weight: bold;
}
.deskripsi-petunjuk{
    margin: 0 50px;
    text-align: justify;
}
table, td.no-petunjuk{
    vertical-align: text-top;
    padding-right: 15px;
}
table, td{
    font-size :16px!important;
    line-height: 1.5;
}


/* halaman k3  */
.container-page .title-rapor{
   text-align: center;
   /* margin-top: 1000px !important; */
}

.description-rapor{
    margin: 10%;
}
.ket {
    padding-right: 40px;
}

/* halaman ke 4 */
.title-identitas{
    margin-top: 1000px !important;
    text-align: center;
}
.description-identitas{
    margin: 10%;
}
.profile-siswa {
    height: 151.18110236px;
    width: 113.38582677px;
    border: 10px;
}

.test {
    margin-top: 100px;
    position: absolute;
    right: 113.38582677px;
    margin-bottom: 0;
  /* width: 200px; */
  /* height: 120px; */
  /* border: 3px solid green; */
}


/* halaman kosong */
.kosong {
     visibility: hidden;
}

/* halaman nilai */


.body-title{
    margin-left: 10%;
}
.header-title {
    text-align: center !important;
}

/* .table-kompetensi {
     margin-left: 10%;
}

.table-kompetensi{
    border: 1px solid black;
    border-collapse: collapse
} */

